@font-face {
  font-family: "Prata";
  src: local(Prata-Regular), url(../fonts/Prata-Regular.woff2) format(woff2),
    url(../fonts/Prata-Regular.woff) format(woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

img {
  max-width: 100%;
}

h3,
h2,
h1 {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn_reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

html {
  box-sizing: border-box;
  min-width: 320px;
  background-color: #282829;
  --black-color-bg: #121723;
  --white-color: #ffffff;
  --black-color: #282829;
  --for__btn: #222222;
  --about__text: #d5c9be;
  --border: #55565a;
  --forform: #38535d;
  --forform_grey: #d6d6d6;
  min-width: 329px;
  max-width: 1920px;
}

.body {
  font-family: "Arial", sans-serif;
  width: 100%;
  font-weight: 400;
}

.lagoona {
  background-color: var(--for__btn);
  padding: 0 180px 50px 180px;
  width: 100%;
  color: white;
  background-image: url(../img/lagoona.webp);
  background-position: right;
  max-width: 1920px;
  background-repeat: no-repeat;
  background-size: 763px;
}

.lagoona__photo {
  height: 1009px;
}

.lagoona__container {
  margin: 0 auto;
}

.header {
  flex-direction: row;
  padding: 50px 10px 0 10px;
  justify-content: space-between;
  width: 100%;
  max-width: 783px;
  position: fixed;
  background-color: var(--for__btn);
  border-radius: 10px;
}

.header__nav {
  margin: auto 0;
  font-size: 16px;
  font-style: italic;
}

.lagoona__list {
  gap: 29px;
}

.header__name {
  font-family: "Prata";
  text-transform: uppercase;
  font-size: 36px;
  margin-right: 150px;
}

.lagoona__container_2 {
  padding-top: 130px;
  max-width: 537px;
}

.lagoona__text {
  max-width: 537px;
}

.lagoona__h1 {
  font-family: "Prata";
  font-size: 80px;
  margin-bottom: 50px;
}

.lagoona__description {
  font-size: 50px;
  margin-bottom: 64px;
}

.lagoona__advantages {
  font-size: 24px;
  margin-bottom: 42px;
}

.lagoona__advantages_item {
  margin-bottom: 35px;
  padding-left: 56px;
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 39px 37px;
  background-image: url(../img/list_icon.svg);
}

.lagoona__advantages_item:last-child {
  margin-bottom: 0;
}

.lagoona__advantages_font {
  font-size: 40px;
  font-family: "Prata";
}

.lagoona__btn {
  color: var(--for__btn);
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  padding: 32px 50px;
  text-transform: uppercase;
  border-radius: 4px;
}

.about {
  color: white;
  width: 100%;
  padding-top: 100px;
}

.about__container {
  margin: 0 auto;
}

.about__item {
  width: calc(100% / 3);
  height: 100%;
}

.about__photo {
  width: 100%;
}

.about__list {
  flex-direction: column;
}

.about__item_text {
  padding: 0 53px 0 53px;
  flex-direction: column;
  height: 100%;
}

.about__p {
  padding: 40px 0 40px 78px;
  font-size: 24px;
  color: #d5c9be;
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 58px 47px;
  background-image: url(../img/custom_logo.svg);
}

.about__list_ilem {
  border-bottom: solid 1px var(--border);
}

.about__list_ilem:last-child {
  border-bottom: none;
}

.about__btn {
  width: 100%;
  padding: 32px 0;
  background-color: white;
  color: var(--black-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
}

.form {
  padding: 100px 150px 100px 150px;
  max-width: 1920px;
  width: 100%;
}

.form__container {
  margin: 0 auto;
}

.form__list {
  margin-bottom: 26px;
}

.form__card {
  background-color: white;
  background-image: url(../img/form_bc.webp);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 40% 100%;
  padding: 72px 690px 72px 134px;
  flex-direction: column;
  gap: 45px;
  border-radius: 15px;
}

.form__item {
  margin-bottom: 13px;
}

.form__item_input {
  width: 100%;
  border: 1px solid var(--forform_grey);
  min-height: 65px;
  font-size: 24px;
  color: var(--border);
  padding: 0 39px;
}

.form__checkbox {
  margin-bottom: 26px;
}

.form__btn {
  width: 100%;
  padding: 32px 0;
  color: white;
  font-size: 24px;
  background-color: var(--for__btn);
  padding: 32px 50px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

}

.h2 {
  font-family: "Prata";
  font-size: 54px;
  color: var(--forform);
}

.form__accept {
  font-size: 19px;
  color: var(--border);
}

.footer {
  background-color: var(--for__btn);
  max-width: 1920px;
}

.footer__container {
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.footer__up {
  border-bottom: var(--about__text) solid 2px;
  border-top: var(--about__text) solid 2px;
  padding: 40px 0;
}

.footer__up_list {
  flex-direction: row;
  gap: 60px;
  font-size: 20px;
  font-style: italic;
  color: white;
  justify-content: center;
}

.footer__down {
  padding: 52px 160px;
  justify-content: space-between;
  color: white;
}

.footer__logo {
  flex-direction: column;
  gap: 54px;
}

.footer__logo_2 {
  font-size: 20px;
}

.footer__link_svg {
  width: 32px;
  height: 32px;
  stroke: var(--about__text);
}

.footer__social_list {
  gap: 32px;
}

.footer__social {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__social_p {
  color: var(--about__text);
  font-size: 20px;
}

.footer__btn {
  padding: 25px 52px;
  border-radius: 4px;
  color: var(--for__btn);
  background-color: white;
  font-style: italic;
  font-size: 20px;
}

.footer__book {
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.btn__white{
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-transform: uppercase;

}

.btn__white:focus {
    color: var(--border);
    background-color: var(--about__text);
  }
  
  .btn__white:hover {
    color: var(--black-color);
    background-color: var(--about__text);
  }
  
  .btn__white:active {
    color: var(--for__btn);
    background-color: white;
  }


  .form__btn:focus {
    color: var(--about__text);
    background-color: var(--black-color);
  }
  
  .form__btn:hover {
    color: var(white);
    background-color: var(--border);
  }
  
  .form__btn:active {
    color: var(--about__text);
    background-color: var(--black-color-bg);
  }

  
.footer__link:focus>svg {
    stroke: var(--border);
  }
  
  .footer__link:hover>svg {
    fill: var(--white-color);
  }
  
  .footer__link:active>svg {
    fill: var(--forform_grey);
  }